---
---

<html>
    <head>
        <link href="/css/lightbox.css" rel="stylesheet" />
    </head>
    
    <body>
        <h1>Stanisa</h1>

        {% for picture in site.static_files %}
            {% if picture.path contains 'pictures' %}
                <a href="{{ site.baseurl }}{{ picture.path }}" data-lightbox="roadtrip">{{ picture.name }}</a>
            {% endif %}
        {% endfor %}
        
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
    </body>
</html>
